* {
    box-sizing: border-box;
}

:root {
    --bg: #F4F4F4;
    --black: #000000;
    --bosque: #657034;
    --desierto: #b26d36;
    --semidesierto: #d4ba99;
    --semibosque: #e0d579;
    --color-accent: hotpink;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    background-color: var(--bg);
}

.wrapper-dash {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.wrapper-dash > div {
    flex-grow: 1;
}

/* HEADER */

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 2rem;

}

.logo-ipys {
    padding-left: .5rem;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* MENU */

header.show-menu .btn-menu-content {
    transform: translateX(0);
}

.btn-menu {
    border: none;
    margin: 0;
    background-color: transparent;
    z-index: 5;
    padding: 0;
    padding-right: 1rem;
}

.btn-menu-img {
    stroke: var(--black);
    display: block;
    width: 30px;
    height: 30px;
    stroke-width: 5px;
    stroke-linecap: round;
}

.btn-menu-img .line-top { transform-origin: 12.5% 12.5%; }
.btn-menu-img .line-bottom { transform-origin: 12.5% 75%; }
.btn-menu-img .line-mid    { transform-origin: 87.5% 25%; }

.btn-menu-img line {
    transition: transform .5s, opacity .5s;
}

button.btn-menu[data-state="burger"]:hover .line-bottom {
    transform: translate(0, -50%) rotate(60deg);
}

button.btn-menu[data-state="burger"]:hover .line-mid {
    transform: rotate(-60deg) translate(0, -25%);
}

button.btn-menu[data-state="close menu"] .line-mid {
    opacity: 0;
}

.btn-menu-content {
    position: absolute;
    top: 0px;
    right: 0;
    background-color: var(--bg);    
    z-index: 4;
    transition: transform .4s;
    transform: translateX(100%);
    border-radius: 10px 0 10px 10px;
    padding-top: 50px;
    border: 1px solid currentColor;

}

.btn-menu-content ul {
    padding: 25px;
    margin: 0;
    padding-top: 10px
}

.btn-menu-content li {
    list-style: none;
    color: var(--black);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;

}

.btn-menu-content li + li {
    margin-top: 5px;
    border-top: 2px solid currentColor;
}

.btn-menu-content li a {
    color: inherit;
    text-decoration: none;
    padding: 8px 0px;
    display: inline-block;
    width: 100%;
}
.btn-menu-content li:hover {
    background-color: white;
    color: var(--cor-menu);
    border-color: var(--cor-menu);
}

/* BARRA CLASSIFICACAO */

div.barra-classificacao { 

    display: flex;
    flex: 0 0 2.5rem;
    height: 2.5rem;

}

.barra-classificacao img {
    height: 2rem;
}

.barra-classificacao > div {
    flex: 1 1 25%;
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.barra-classificacao p {
    text-align: center;
    flex-grow: 1;
    text-transform: uppercase;
    color: var(--cor);
    font-weight: bold;
}

.desierto     { --cor-fundo: var(--desierto); --cor: var(--bg); }
.semidesierto { --cor-fundo: var(--semidesierto); --cor: var(--black); }
.semibosque   { --cor-fundo: var(--semibosque); --cor: var(--black); }
.bosque       { --cor-fundo: var(--bosque); --cor: var(--bg); }



/* CONTAINER PRINCIPAL */

.container-principal {
    display: flex;
    flex-direction: row;
    /*gap: 1rem;*/
}

.container-principal > div {
    flex: 1 1 50%;
    margin: .5rem;
}

.barra-topo-container {

    display: flex;
    height: 2rem;
    margin: .5rem;
    margin-top: 0;
    gap: .5rem;

}

/* CONTAINER MAPA */

/* BUSCA */

.busca {
    justify-content: space-between;
    align-items: center;
}

.lupa-busca {
    width: 1.2rem;
    height: 1.2rem;
}

.busca input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

/* MAP */

#map {
    height: 50%;
    width: 100%;
}

.cover {
    place-content: center;
    text-align: center;
}

/* CARD */

/* BREADCRUMB */

.wrapper-breadcrumb {
    justify-content: flex-start;
}

.wrapper-breadcrumb > button {

    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    text-transform: uppercase;
    font-size: 1rem;

}

.btn-breadcrumb-venezuela {

    display: flex;
    align-items: center;
    gap: 1ch;

}

.home-btn {
    height: 1.2rem;
}


/* CABEÇALHO CARD */

#card {

}

#card h2 {

    font-size: 2rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}

#card p {

    margin: 0;

}

/* BARRA DISTRIBUICAO CLASSIFICACAO */

.barra-distribuicao-classificacao {
    display: flex;
    height: 2rem;
    margin: 1.5rem 0;
}

.barra-distribuicao-classificacao > div {
    flex: 1 1 25%;
    background-color: var(--cor-fundo);
    color: var(--cor);
    transition: flex-basis .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-distribuicao-classificacao > div > span {
    font-size: .8em;
}


/* boxes */

.btn-box-wrapper {
    display: flex;
    background-color: #AF967E20;
    border-radius: 5px;
}

.container-boxes {
    margin-top: 1rem;
    /* tirar depois, vou usar o gap do flex */
}

[data-nivel="small_unit"] .container-boxes {
    display: none;
}

.container-boxes button {

    flex: 0 0 50%;
    margin: 0;
    padding: .5rem;
    border: none;
    margin-bottom: -1px;
    background-color: transparent;

}

.container-boxes button.ativo,
[data-nivel="large_unit"] .container-boxes button[data-btn-box="preguntas"] {

    border: 1px solid black;
    border-bottom-color: var(--bg);
    background-color: var(--bg);

}

.container-boxes button[data-btn-box="hallazgos"] {
    border-radius: 5px 5px 0 0;
}

.container-boxes button[data-btn-box="preguntas"] {
    border-radius: 5px 5px 0 0;
}


.box {

    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    padding: .5em;

}

.box[data-modo-ativo="hallazgos"] {

    border-radius: 0 5px 5px 5px;

}

.box[data-modo-ativo="preguntas"] {

    border-radius: 5px 0 5px 5px;

}

.box[data-modo-ativo="hallazgos"] > .box-preguntas { display: none; }
.box[data-modo-ativo="preguntas"] > .box-hallazgos { display: none; }

[data-nivel="large_unit"] .box[data-modo-ativo] > .box-hallazgos { display: none; }
[data-nivel="large_unit"] .box[data-modo-ativo] > .box-preguntas { display: initial; }
[data-nivel="large_unit"] .container-boxes button[data-btn-box="hallazgos"] { display: none; }

/* preguntas */

.box-preguntas li {

    list-style: none;
    text-decoration: underline;
    cursor: pointer;

}

.box-preguntas li + li {

    margin-top: 1em;

}

.box-preguntas li::before {
    content: "\002B";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--bg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

/********/

/* MODAL VIZ */

.modal-viz {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .6s;
    z-index: 3; /*para ficar acima do texto, no mobile */
}

.modal-viz[data-modal-active="none"] {
    pointer-events: none;
    opacity: 0;
}

.modal-viz[data-modal-active="none"] .bg-modal-viz {
    opacity: 0;
}

.bg-modal-viz {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    opacity: .8;
    transition: opacity .6s;
}

button.close-modal {
    position: absolute;
    border: none;
    top: 1rem;
    right: 1rem;
    font-weight: bold;
    font-size: 3rem;
    transform-origin: center center;
    background-color: var(--black);
    border-radius: 50%;
    color: var(--bg);
    transition: transform .1s;
    z-index: 1;

    width: 3rem;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button.close-modal:hover {
    transform: scale(130%);
}

.container-viz,
.container-modal-relato,
.container-modal-relato-regional {
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    border-radius: 10px;
    background-color: var(--bg);
    opacity: 0;
    padding: 2rem 4rem;
    overflow-y: auto;
    transition: opacity .6s;
}

[data-modal-active="relato"] .container-viz { display: none; }
[data-modal-active="relato"] .container-modal-relato-regional { display: none; }

[data-modal-active="viz"] .container-modal-relato { display: none; }
[data-modal-active="viz"] .container-modal-relato-regional { display: none; }

[data-modal-active="relato"] .container-modal-relato { opacity: 1; }
[data-modal-active="viz"] .container-viz { opacity: 1; }

[data-modal-active="relato regional"] .container-viz { display: none; }
[data-modal-active="relato regional"] .container-modal-relato { display: none; }
[data-modal-active="relato regional"] .container-modal-relato-regional { opacity : 1;}

.viz-main-title {
    font-size: 2rem;
    margin: .5rem 0;
}

.minicharts-global-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.mini-chart-title {
    font-weight: bold;
    padding-left: 20px;
    margin: .5rem 0;
    max-width: 300px;
    height: 4ch;
}

line.strip {
    stroke: var(--black);
    /*stroke-width: 2;
    opacity: 0.2;*/
}

line.strip[data-strip-type="highlight"] {
    opacity: 1;
    stroke: var(--color-accent);
}

line.strip[data-strip-type="promedio-country"] {
    opacity: 1;
    stroke: var(--color-accent);
}

line.strip[data-strip-type="promedio-provincia"] {
    opacity: 1;
    stroke: black;
}

line.tick {
    stroke: var(--black);
    stroke-width: 1;
}

text.label {
    font-size: 10px;
    text-anchor: middle;
}

rect.striplot-bg {
    fill: rgba(0, 0, 0, 0.03);
}

.mini-chart-tooltip-container {
    position: relative;
}

/*.minichart-promedio-country-label,
.minichart-promedio-provincia-label,*/
.minichart-selected-unit-label {
    position: absolute;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 3px;
    text-align: left;
    color: var(--color-accent);
    width: max-content;
    /*transform: translate(0, -100%);*/
}

.chapeu-viz-main-title {
    color: var(--color-accent);
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.make-left {
    transform: translateX(-100%);
    text-align: right;
}

.mini-chart-tooltip {
    opacity: 0;
    position: absolute;
    transition: opacity .2s;
    font-size: 12px;
    padding: 0 .5em;
    width: 200px;
}

.mini-chart-tooltip.tooltip-visible {
    opacity: 1;
}